[submodule "lib/rain.extrospection"]
	path = lib/rain.extrospection
	url = https://github.com/rainlanguage/rain.extrospection
[submodule "lib/rain.deploy"]
	path = lib/rain.deploy
	url = https://github.com/rainlanguage/rain.deploy
[submodule "lib/rain.vats"]
	path = lib/rain.vats
	url = https://github.com/rainlanguage/rain.vats
